@media (max-width:1200px) {
    .body_section .body_inner {
        gap: 30px 2rem;
    }

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main_footer,
    .featured_articles_wrapper .inner,
    .article_layout_3 .btm,
    .article_layout_3 .top,
    .article_layout_2 .inner {
        gap: 20px 1rem;
    }

    .article_layout_2>.inner>.right .article_list_card:not(:first-child) {
        margin-top: 1rem;
    }

    .article_card .details {
        margin-top: 1rem;
    }

    .foot_ads_wrap {
        padding-bottom: 2rem;
    }

    .featured_articles_wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .main_footer {
        padding: 2rem 0;
    }

    .article_layout_4 .inner {
        gap: 30px 1rem;
    }

    .article_tags {
        margin-top: 0.5rem;
    }
}

@media (max-width:1024px) {
    .container {
        padding: 0 20px;
    }

    .body_section .body_inner {
        flex-flow: column;
        gap: 3rem;
    }

    .article_layout {
        padding: 2rem 0;
    }

    .sidebar_area {
        max-width: 100%;
    }

    .article_layout_2>.inner>.right {
        max-width: 50%;
    }

    .sidebar_area .ads_wrapper {
        margin: auto;
    }

    header .inner {
        gap: 1.5rem;
    }

    hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    header .adsWrapper {
        display: none;
    }

    /*  */
    /*  */
    /* Blog Deatils Page */
    /*  */
    /*  */
    .blog_detail_wrapper .left_bar {
        max-width: 15rem;
    }

    .blog_detail_wrapper .inner {
        gap: 1.5rem;
    }
}

@media (max-width:991px) {
    .featured_articles_wrapper .inner {
        grid-template-columns: 1fr 1fr;
    }

    .footer_newsletter .inner {
        flex-flow: column;
    }

    .footer_newsletter p,
    .footer_newsletter .inner .left h3,
    .footer_newsletter .inner .left p {
        text-align: center;
    }

    .body_section {
        padding-bottom: 2rem;
    }

    .article_heading h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .mobile_menu_toggler {
        display: flex;
    }

    .article_layout_1 .inner .article_bg_img_card:nth-child(1) {
        grid-area: unset;
    }

    .article_layout_1 .inner .article_bg_img_card:nth-child(2) {
        grid-area: unset;
    }

    .article_layout_1 .inner .article_bg_img_card:nth-child(3) {
        grid-area: unset;
    }

    .article_layout_1 .inner .article_bg_img_card:nth-child(4) {
        grid-area: unset;
    }

    .article_layout_1 .inner {
        display: grid;
        grid-template-areas: unset;
        grid-template-columns: 1fr 1fr;
        max-height: unset;
    }

    .article_bg_img_card .article_content h3 {
        font-size: 1rem;
        line-height: 26px;
        font-weight: 700;
    }

    /* Header Menu responsive css */

    .sticky_menu .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        flex-flow: column;
        gap: 1rem;
        z-index: 25;
        transform: translateX(110vw);
        width: 40%;
        gap: 0;
        min-width: 320px;
        padding-top: 20px;
    }

    .sticky_menu .menu.active {
        box-shadow: 0px -10px 2000px 100vw #22222284;
        transform: translateX(0vw);
    }

    .sticky_menu .menu li {
        width: 100%;
        padding: 0 10px;
    }

    .sticky_menu .menu li a {
        text-align: left;
        width: 100%;
        padding: 10px 10px;
        border-radius: 6px;
    }

    .sticky_menu .menu li:not(:last-child) a {
        border-bottom: 1px solid var(--header-menu-border);
    }

    .sticky_menu .menu li a:hover {
        border: none;
        background-color: var(--primary-extra-light);
    }

    .menu_close_toggler {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .menu_close_toggler span {
        max-width: 2rem;
        max-height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 6px;
        background-color: var(--primary-extra-light);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu_close_toggler span svg,
    .menu_close_toggler span img {
        font-size: 16px;
        height: 16px;
    }

    /*  */
    /*  */
    /* Blog Deatils Page */
    /*  */
    /*  */

    .blog_detail_wrapper .inner {
        flex-flow: column;
        gap: 2rem;
    }

    .blog_detail_wrapper .left_bar {
        position: unset;
        max-width: 100%;
    }

    .blog_detail_wrapper .post_head h1,
    .blog_detail_wrapper .post_head .post_title {
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width:768px) {
    .article_layout_2 .inner {
        flex-flow: column;
        gap: 2rem;
    }

    .article_layout_2 .inner .right {
        width: 100%;
        max-width: unset;
    }

    .article_layout_4 .inner {
        grid-template-columns: 1fr 1fr;
    }

    .featured_articles_wrapper .inner {
        grid-template-columns: 1fr;
    }

    .article_layout_3 .btm {
        grid-template-columns: 1fr;
    }


    .article_layout {
        padding: 1rem 0 2rem 0;
    }

    .article_layout_1 .inner {
        gap: 10px;
    }

    .footer_newsletter .inner .left p,
    .article_card.article_card_sm h3,
    .article_list_card .right h4,
    .article_card h3 {
        font-size: 16px;
        line-height: 26px;
    }

    .footer_newsletter .inner .left h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .footer_newsletter .inner {
        gap: 1rem
    }

    .body_section {
        padding-bottom: 1.5rem;
    }

    .follow_us_wrapper .inner {
        gap: 5px;
    }

    .article_heading h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .article_heading {
        padding-bottom: 10px;
    }

    .sidebar_area .recent_posts_wrapper .inner {
        gap: 1rem;
    }

    .blog_detail .author_wrap {
        padding-top: 1.5rem;
        margin-top: 1.5rem;
    }

    .blog_detail .author_wrap .author_img {
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
    }

    .blog_detail .author_wrap .author_name {
        gap: 0;
    }

    .contact_wrap {
        padding: 1.5rem 0;
    }
}

@media (max-width:600px) {
    .article_layout_1 .inner {
        grid-template-columns: 1fr;
    }
}

@media (max-width:480px) {

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .article_layout_3 .top,
    .article_layout_4 .inner {
        grid-template-columns: 1fr;
    }

    .sos_wrapper,
    .main_footer .menu {
        flex-wrap: wrap;
    }

    .footer_newsletter .inner .right .form_row {
        flex-flow: column;
    }

    .footer_newsletter .inner .form_row button {
        width: 100%;
    }

    .sos_wrapper {
        gap: 5px;
    }

    header .primaryBtn {
        padding: 4px 8px;
        font-size: 13px;
    }

    .sticky_menu .menu {
        max-width: 100%;
        width: 100%;
    }

    .blog_detail .author_wrap {
        padding-top: 1rem;
        margin-top: 1rem;
    }

    /*  */
    /*  */
    /* Blog Deatils Page */
    /*  */
    /*  */

    .blog_detail_wrapper .post_head h1,
    .blog_detail_wrapper .post_head .post_title {
        font-size: 26px;
        line-height: 36px;
    }

    .featured_img {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .blog_detail_wrapper {
        padding: 1rem 0;
    }
}

/* @media (max-width:1024px) {} */